{% extends 'goals/layout.html' %}

{% block title %} Index {% endblock%}

{% block body %}
  
    <!-- Modal -->
    <div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="newGoalModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="newGoalModalLabel">Target, Time, Thrust</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form action="">
                <div class="modal-body">
                
                    <div class="newGoal-step target">
                        <div class="form-group" id="newGoalTitle">
                            <Label for="newGoalCategory"> Category </Label>
                            <select class="form-control" required>
                                <!-- loop throug  -->
                                <option>Default select</option>
                            </select>
                        </div>
                        <div class="form-group" id="newGoalTitle">
                            <Label for="newGoalTitle"> Title </Label>
                            <input type="text" class="form-control" name="newGoalTitle" required>
                        </div>
                        <div class="form-group" id="newGoalDescription">
                            <Label for="newGoalDescription"> Description </Label>
                            <textarea rows="3" class="form-control" placeholder="Describe your Goal in a few lines" name="newGoalDescription" required></textarea>
                        </div>
                    </div>
                    <div class="newGoal-step time">
                        <div class="form-group">
                            <label for="datepicker">Accomplish this Goal by:</label>
                            <input class="form-control" type="text" id="datepicker" name="datepicker" required>
                        </div>
                    </div>
                    <div class="newGoal-step thrust">
                        <div class="form-group">
                            <textarea class="form-control" name="newGoalPurpose" id="newGoalPurpose" rows="3" placeholder="Why is this goal important to you?" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="static/goals/images/Checkmark.png" alt=""> Let's Goal!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#newGoalModal">New Goal</a>
                <a class="nav-item nav-link" href="#">My Profile</a>
                <a class="nav-item nav-link" href="{% url 'goals:logout' %}">Logout</a>
            </div>
        </div>
    </nav>

    <!-- DASHBOARD CONTENT -->
    <section class="dashboard">
        {% for goal in goals %}
            <div class="goal-container">
                {{ goal.title }} 

            </div>
        {% endfor %}
    </section>



{% endblock %}