{% extends 'goals/layout.html' %}
{% load static %}

{% block title %} Login {% endblock%}

{% block body %}


{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="login-form">
    <div class="form-container">
        <form action="{% url 'goals:login' %}" method="POST">
            <img src="{% static 'goals/images/Checkmark.png' %}" alt="Let's Goal logo">
            {% csrf_token %}
            <h2> Login </h2>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'goals:register' %}">Sign up here</a>

        </form>
    </div>

</section>
{% endblock %}