{% extends 'goals/layout.html' %}
{% load static %}

{% block title %} Login {% endblock%}

{% block body %}


{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="login-form">

    <div class="form-container">
        <form action="{% url 'goals:login' %}" method="POST">
            {% csrf_token %}
            <h1> LOGIN HERE </h1>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</section>
{% endblock %}