{% extends 'goals/layout.html' %}
{% load static %}

{% block title %} Register {% endblock%}

{% block body %}


{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="login-form">

    <div class="form-container">
        <form action="{% url 'goals:register' %}" method="POST">
            {% csrf_token %}
            <h2> Register </h2>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <hr>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'goals:login' %}">Back to Login</a>
        </form>
    </div>

</section>
{% endblock %}