{% extends 'goals/layout.html' %}
{% load crispy_forms_tags %}


{% block title %} Profile {% endblock %}

{% block body %}
    {% if user == current_user %}
        <h2 style="padding: 8px 16px;">My profile</h2>
    {% else %}
        <h2 style="padding: 8px 16px;">Profile: {{ current_user }}</h2>
    {% endif %}
    <div class="profile row rounded">
        <div class="sidenav">
            <ul class="nav flex-column">
                <li class="nav-item profile-nav" data-name="overview">
                  <a class="nav-link active" href="#">Overview</a>
                </li>
                <li class="nav-item profile-nav" data-name="information">
                  <a class="nav-link" href="#">My information</a>
                </li>
                <li class="nav-item profile-nav" data-name="change-password">
                  <a class="nav-link" href="#">Change password</a>
                </li>
              </ul>
        </div>
        <div class="contents">
            <!-- Profile Goal Overview -->
            <div class="profile-overview">
                
                <h2>Overview</h2>
                <h4>My Goals</h4>
                <div class="container">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="row">Number of Goals</td>
                                <td>{{ user_goals.count }}</td>
                            </tr>
                            <tr>
                                <td class="row">Not Started</td>
                                <td>{{ notStarted }}</td>
                            </tr>
                            <tr>
                                <td class="row">In Progress</td>
                                <td>{{ inProgress }}</td>
                            </tr>
                            <tr>
                                <td class="row">Accomplished</td>
                                <td>{{ accomplished }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Profile Information -->
            <div class="profile-information">
                <h2>My information</h2>
                <form action="{% url 'goals:update_profile' %}" method="POST">
                    {% csrf_token %}
                    {{ UserForm.username|as_crispy_field }}
                    {{ UserForm.email|as_crispy_field }}
                    {{ ProfileForm.date_of_birth|as_crispy_field }}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
            <!-- Change Password -->
            <div class="profile-change-password">
                <h2>Change password</h2>
                <br>
                <form action="{% url 'goals:update_password' %}" method="POST">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary" id="submitPassword">Submit</button>

                </form>
            </div>
        </div>
    </div>
    

{% endblock%}