{% extends 'goals/layout.html' %}
{% load crispy_forms_tags %}


{% block title %} Profile {% endblock %}

{% block body %}
    {% if user == current_user %}
        <h2 style="padding: 8px 16px;">My profile</h2>
    {% else %}
        <h2 style="padding: 8px 16px;">Profile: {{ current_user }}</h2>
    {% endif %}
    <div class="profile row rounded">
        <div class="sidenav">
            <ul class="nav flex-column">
                <li class="nav-item profile-nav" data-name="overview">
                  <a class="nav-link active" href="#">Overview</a>
                </li>
                <li class="nav-item profile-nav" data-name="information">
                  <a class="nav-link" href="#">My information</a>
                </li>
                <li class="nav-item profile-nav" data-name="change-password">
                  <a class="nav-link" href="#">Change password</a>
                </li>
              </ul>
        </div>
        <div class="contents">
            <!-- Profile Goal Overview -->
            <div class="profile-overview">
                
                <h2>Overview</h2>
                <h4>My Goals</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Number of Goals</td>
                            <td>% 15 %</td>
                        </tr>
                        <tr>
                            <td>Not Started</td>
                            <td>% 5 %</td>
                        </tr>
                        <tr>
                            <td>In Progress</td>
                            <td>% 9 %</td>
                        </tr>
                        <tr>
                            <td>Accomplished</td>
                            <td>% 1 %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Profile Information -->
            <div class="profile-information">
                <h2>My information</h2>
                Username
                email
                date of birth

                submit
            </div>
            <!-- Change Password -->
            <div class="profile-change-password">
                <h2>Change password</h2>
                <br>
                <form action="{% url 'goals:update_password' %}" method="POST">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary" id="submitPassword">Submit</button>

                </form>
            </div>
        </div>
    </div>
    

{% endblock%}