.login-form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form .form-container form .btn-primary, .card-container .card .btn, .trending-container .card .btn, .goal-detail-container .goal-detail-header .btn {
  background-color: #E07800;
  border: none;
  -webkit-box-shadow: 0px 0px 5px #944F00;
          box-shadow: 0px 0px 5px #944F00;
  border-radius: 30px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #006894 !important;
}

.login-form img {
  height: 90px;
  display: block;
  margin: auto;
}

.login-form .form-container {
  height: 100vh;
}

.login-form .form-container form {
  padding: 30px;
  background: white;
  background: linear-gradient(15deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 90%);
  width: 50vh;
  border: 1px solid gradientWhite;
  border-radius: 30px;
}

.login-form .form-container form h2 {
  text-align: center;
  color: #E07800;
  padding: 5px;
}

.login-form .form-container form .form-control, .login-form .form-container form .btn-primary {
  border-radius: 30px;
  width: 100%;
}

.login-form .form-container form a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
}

.navbar img {
  height: 30px;
}

.dashboard {
  width: 90%;
  margin: auto;
}

.like, .goal-like {
  margin-left: 20px;
  display: inline;
}

.like .like-fill, .goal-like .like-fill {
  fill: orange;
  fill-opacity: 0%;
}

.like .like-active, .goal-like .like-active {
  fill: orange;
  fill-opacity: 100% !important;
}

.like .like-stroke, .goal-like .like-stroke {
  fill: black;
  fill-opacity: 70%;
}

.card-container {
  margin-top: 30px;
}

.card-container .card {
  margin: 20px;
  max-height: 300px;
}

.card-container .card .close {
  position: absolute;
}

.card-container .card .btn {
  text-align: center;
}

.card-container .card .card-body {
  margin-top: 60px;
}

.card-container .card .card-text {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-container .card .card-image {
  max-width: 100px;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card-container .card .close {
  width: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.trending-goal h2 {
  margin-top: 10px;
  text-align: center !important;
  color: white;
}

.trending-container {
  margin-top: 30px;
}

.trending-container .card {
  max-height: 300px;
  padding: 20px;
}

.trending-container .card .card-text {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trending-container .card .card-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

.goal-detail-container {
  height: 100vh;
  padding: 20px;
  background-color: white;
  margin: 20px;
  border: 1px solid #ced4da;
}

.goal-detail-container img {
  height: 100px;
  display: inline block;
}

.goal-detail-container .goal-detail-header {
  margin-bottom: 20px;
}

.goal-detail-container .goal-detail-header-text {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
}

.goal-detail-container .goal-detail-header-text p {
  margin: 0;
}

.goal-detail-container .float-right {
  float: right;
}

.profile {
  background-color: white;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.profile .sidenav {
  padding: 0px 10px;
}

.profile .contents {
  padding: 8px 16px;
}

@media (max-width: 500px) {
  .form-container {
    min-width: 100%;
    padding: 40px;
  }
  form {
    min-width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */