$Containerborders: rgb(206, 212, 218);
$lightblue:#71D4FF;
$blueShadow: #006894;
$orange: #E07800;
$orangeShadow: #944F00;
$gradientWhite: linear-gradient(15deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 90%);


%containerCenter {
    display: flex;
    align-items: center;
    justify-content: center;

}

%btn-primary {
    background-color: $orange;
    border: none;
    box-shadow: 0px 0px 5px $orangeShadow;
    border-radius: 30px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $blueShadow !important;
}

.login-form {

    img {
        height: 90px;
        display: block;
        margin: auto;
    }

    .form-container {
        @extend %containerCenter;
        height: 100vh;
        
        form {
            padding: 30px;
            background: rgb(255,255,255);
            background: $gradientWhite;
            width: 50vh;
            border: 1px solid gradientWhite;
            border-radius: 30px;

            h2 {
                text-align: center;
                color: $orange;
                padding: 5px;
            }
            .form-control, .btn-primary {
                border-radius: 30px;
                width: 100%;
            }

            .btn-primary {
                @extend %btn-primary;
            }
            a {
                align-items: center;
                font-size: .8em;
            }
        }
    }
}


.navbar img {
    height: 30px;
}

.dashboard {
    width: 90%;
    margin: auto;
}

.card-container {

    margin-top: 30px;

    .card {
        margin: 20px;
        max-height: 300px;

        .btn {
            @extend %btn-primary;
            text-align: center;
        }
        
        .card-text {
            max-height: 3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .card-image {
            margin-top: -10%;
            margin-left: auto;
            margin-right: auto;
            max-width: 100px;
            
        }
    }
}


.goal-detail-container {
    height: 100vh;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border: 1px solid $Containerborders;

    img {
        height: 100px;
        display: inline block;
    }

    .goal-detail-header {
        margin-bottom: 20px;

        .btn {
            @extend %btn-primary
        }
    }

    .goal-detail-header-text {
        display: inline-block;
        vertical-align: bottom;
        padding-left: 10px;

        p {
            margin: 0;
        }
    }

    .float-right {
        float: right;
        
    }

}


@media(max-width: 500px) {

    .form-container {
        min-width: 100%;
        padding: 40px;
    }

    form {
        min-width: 100%;
    }
}